.form {
  display: flex;
  flex-grow: 1;
}

.input {
  padding: 0 15px;
  display: flex;
  flex-grow: 1;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 30px;
  border-radius: 13px;
  word-break: break-all;
  background: rgba(124, 117, 117, 0.651);
  border: none;
}

.buttonForm {
  height: 40px;
  margin-left: 7px;
}
