.app {
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: stretch;
  text-align: center;
  border: none;
}

.conteiner {
  margin: 0px 10px;
}

button {
  border-radius: 13px;
  background: rgba(124, 117, 117, 0.651);
  height: 40px;
  border: none;
}
